<div class="col-xl-12 d-flex justify-content-center">
  <!-- <div class="card mt-5 text-center" style="width: 18rem;"> -->
  <div class="card mt-5 text-center _width">
    <img src="assets/Diego.jpg" class="card-img-top mx-auto" alt="Diego">
    <div class="card-body">
      <h5 class="card-title"><span class="red">D</span>iego Perez</h5>
      <p class="card-text">Angular Front-End Developer. Oracle Developer PL/SQL. Full Stack
        Developer...
      </p>
      <div class="row justify-content-center">

        <a href="https://www.linkedin.com/in/diego-perez-9a724a53/" class="btn btn-primary">LinkedIn <span
            class="noMobile">Profile</span></a>
      </div>
    </div>
  </div>

  <!-- <div class="card mt-5 ml-5 mr-5 text-center" style="width: 18rem;"> -->
  <div class="card mt-5 ml-5 mr-5 text-center _width">
    <img src="assets/Sherwayne.jpg" class="card-img-top mx-auto mt-1" alt="Sherwayne">
    <div class="card-body">
      <h5 class="card-title"><span class="red">S</span>herwayne Palmer</h5>
      <p class="card-text"> I am a Software Developer, a Programmer Analyst proficient in the following languages C#...
      </p>
      <div class="row justify-content-center">

        <a href="https://www.linkedin.com/in/sherwaynepalmer/" class="btn btn-primary">LinkedIn <span
            class="noMobile">Profile</span></a>
      </div>
    </div>
  </div>

  <!-- <div class="card mt-5 text-center" style="width: 18rem;"> -->
  <div class="card mt-5 text-center _width">
    <img src="assets/Deivid.jpg" class="card-img-top mx-auto mt-1" alt="Deivid">
    <div class="card-body">
      <h5 class="card-title"><span class="red">D</span>eivid Mafra</h5>
      <p class="card-text">I am a full-stack developer with experiences in Angular, React, React Native, Node.js,
        JavaScript...
      </p>
      <div class="row justify-content-center">

        <a href="https://www.linkedin.com/in/deivid-mafra" class="btn btn-primary">LinkedIn <span
            class="noMobile">Profile</span></a>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-12 mt-5 d-flex justify-content-center">
  <h1> Enterprise Technologies Final Project</h1>
</div>

<div class="col-xl-12 mt-5 d-flex justify-content-center">
  <h3>Administration Tables CRUD</h3>
</div>
<div class="col-xl-12 mt-5 d-flex justify-content-center">
  <ul class="d-flex">
    <li class="mr-5">
      <h4 class="myBadges colorG">Mongodb</h4>
    </li>
    <li class="mr-5">
      <h4 class="myBadges colorFg">Node.js</h4>
    </li>
    <li class="mr-5">
      <h4 class="myBadges colorB">TypeScript</h4>
    </li>
    <li>
      <h4 class="myBadges colorR">Angular7</h4>
    </li>
  </ul>
</div>
